# SPDX-FileCopyrightText: 2025 Eric van der Vlist <vdv@dyomedea.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later

# Logs
logs
*.log

*.zip

# dotenv environment variables file
.env

# test di
sandbox/

# backups

*~

i18n-404-tools/admin/bin/

# Composer dependencies
vendor/
composer.lock
.vscode/*.bak.*
.devcontainer/tmp/
.devcontainer/var/
